<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dummy Bank | Login</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="bg-light">

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1 text-center">
            <img src="../static/images/bank_logo.png" alt="" width="100" height="100">
            Dummy Bank</span>
    </div>
</nav>

<div class="container d-flex justify-content-center align-items-center min-vh-90 pt-4">
    <div class="card shadow p-4 login-card">

        <h4 class="text-center mb-4">
            {% if mode == 'register' %}
                Create New Account
            {% else %}
                Login to Your Account
            {% endif %}
        </h4>

        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        <form method="POST">
            <div class="mb-3">
                <input class="form-control" type="text" name="username" placeholder="Username" required>
            </div>

            <div class="mb-3">
                <input class="form-control" type="password" name="password" placeholder="Password" required>
            </div>

            <button class="btn btn-primary w-100 mb-3">
                {% if mode == 'register' %}
                    Create Account
                {% else %}
                    Login
                {% endif %}
            </button>
        </form>

        <hr class="my-2">

        <div class="text-center mt-3">
            {% if mode == 'register' %}
                <span class="text-muted small">Already have an account?</span>
                <a href="{{ url_for('login') }}" class="btn btn-outline-secondary btn-sm w-100 mt-1">Back to Login</a>
            {% else %}
                <span class="text-muted small">New to Dummy Bank?</span>
                <a href="{{ url_for('register') }}" class="btn btn-outline-success btn-sm w-100 mt-1">Create New Account</a>
            {% endif %}
        </div>

    </div>
</div>

</body>
</html>